# build output
dist/
.astro/

# cloudflare wrangler local state
.wrangler/

# dependencies
node_modules/

# env
.env
.env.production

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store
